SpeechRecognition~=3.8
PyAudio~=0.2

ovos-vad-plugin-webrtcvad

ovos-ww-plugin-pocketsphinx~=0.1, >=0.1.3

ovos-stt-plugin-server~=0.0, >=0.0.2
ovos-stt-plugin-vosk~=0.1

ovos-utils~=0.0, >=0.0.28
ovos-plugin-manager~=0.0, >=0.0.20
ovos-config~=0.0, >=0.0.5
ovos_backend_client~=0.0, >=0.0.5